{% extends "main/base.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}

    {% if news.count > 0 %}
    <h2>Список новостей</h2>

        {% for new in news %}
        <div class="container-mdп">
            <div class="alert alert-dark" role="alert">
                <h1>{{ new.title }}</h1>
                <p>{{ new.anons }}</p>
                <p>{{ new.date }}</p>
                <button type="button" class="btn btn-primary">Читать</button>
            </div>
        </div>
        {% endfor %}

    {% endif %}

{% endblock %}
